footer {
  margin-top: 50px;
  background: var(--violet-footer-bg);
  .container-footer {
    margin: 0 auto;
    max-width: 1100px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    ul {
      list-style: none;
      padding: 20px 0px;
    }
    h5 {
      font-weight: 700;
      line-height: 12px;
      font-size: 1rem;
      text-transform: uppercase;
      color: var(--white);
      padding: 10px 0px;
    }
    li {
      color: var(--yellow);
      font-size: 1rem;
      font-weight: 400;
      line-height: 30px;
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--white);
        transition: 0.3s ease-in-out;
      }
    }
    img {
      width: 200px;
    }
  }
  .container-social-media {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        i {
          color: var(--white);
        }
      }
    }
  }
  .fandom-apps {
    padding: 20px 0px;
    p {
      color: var(--white);
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      margin: 0;
    }
    .container-app {
      margin: 20px 0;
      display: flex;
      justify-content: start;
      align-items: center;
      img {
        height: 78px;
        width: 78px;
      }
      .img-app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          height: 35px;
          width: 119px;
          margin: 5px 20px;
        }
      }
    }
  }
  .end-view-mobile {
    background: var(--black);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    p {
      width: 80%;
      margin: 0 auto;
      color: var(--white);
      padding: 30px;
      border-bottom: 1px solid var(--blue-grey);
    }
    button {
      width: 100%;
      margin: 30px auto;
      font-weight: 700;
      border: none;
      color: #ffc500;
      background: var(--black);
      text-decoration: none;
    }
  }
}
