/* First nav bar */
.nav-bar-main {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 48px;
  padding: 0px 20px;
  background: var(--white-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 28px;
  }
  .container-search {
    width: 25%;
    padding: 0px 5px;
    margin: 0 10px 0 auto;
    border: 1px solid black;
    border-radius: 2px;
    background: white;
    color: black;
    display: flex;
    align-items: center;

    input[type="text"] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0px 5px;
      height: 30px;
      font-size: 1rem;
      border: none;
      outline: none;
    }
  }

  .connexion {
    .btn {
      font-weight: 600;
      padding: 7px 18px;
      text-align: center;
    }
    .sign-in {
      color: var(--violet);
      border-radius: 3px;
      border: 1px solid var(--violet);
      &:hover {
        border: 1px solid var(--violet-hover);
        color: var(--violet-hover);
        transition: 0.3s ease-in-out;
        text-decoration: none;
      }
    }
    .register {
      background: var(--violet);
      margin-left: 10px;
      border-radius: 3px;
      color: white;
      &:hover {
        background: var(--violet-hover);
        transition: 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }
}

/*  nav bar aside left*/
.nav-bar-aside-left {
  position: fixed;
  z-index: 50;
  top: 48px;
  left: 0;
  width: 65px;
  height: 100%;
  background: var(--white-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .container-burger {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    .span-burger {
      height: 100%;
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      span {
        width: 20px;
        height: 3px;
        margin: 2px;
        border-radius: 5px;
        background: rgb(100, 100, 100);
      }
    }
    .burger-txt {
      font-size: 10px;
      margin: 0;
    }
    &:hover {
      background: var(--white-hover);
      transition: 0.3s ease-in-out;
    }
  }
  .container-explore {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    .fa-compass {
      font-size: 20px;
      padding: 10px 0px;
    }
    .explore-txt {
      font-size: 10px;
      margin: 0;
    }
    &:hover {
      background: var(--white-hover);
      transition: 0.3s ease-in-out;
    }
  }
}
