.section-3 {
  background: var(--white-bg);
  padding: 50px;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 30px;
    border-bottom: 1px solid var(--grey-all);
    padding-bottom: 10px;
    margin-bottom: 15px;
    .fa-pen {
      color: var(--blue2-link);
      font-size: 0.8rem;
      margin-left: 10px;
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--blue3-link);
        transition: 0.3s ease-in-out;
      }
    }
  }
  h3 {
    border-bottom: 1px solid var(--grey-all);
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-chevron-down {
      font-size: 1.6rem;
    }
  }
  .container-ref {
    width: auto;
    max-height: 230px;
    overflow: auto;
    margin-bottom: 3px;
    padding-left: 0.5em;
    border: 1px solid var(--grey-all);
    border-top-left-radius: 0.5rem;
    .container-link-ref {
      background: var(--white);
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 2%;
      padding: 10px 50px;
    }
  }
  .container-site-nagivation {
    margin: 30px 0px;
    .link-expand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 20px;
      font-weight: 700;
      font-size: 0.6rem;
      border-left: 1px solid var(--grey-all);
      border-right: 1px solid var(--grey-all);
      border-top: 1px solid var(--grey-all);
      background: var(--white);
      &:last-child {
        border-bottom: 1px solid var(--grey-all);
      }
    }
  }
  .txt-community {
    margin: 0;
    padding: 30px 0px;
  }
  .container-more-fandom {
    border: 1px solid var(--grey-all);
    h4 {
      padding: 15px;
      font-weight: 700;
      font-size: 1.4rem;
      background: var(--grey-all);
    }
    .more-fandom-type {
      display: flex;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 25px;
      padding: 10px;
      p {
        padding: 8px;
        margin: 0;
      }
      p:first-child {
        border-right: 1px solid var(--grey-all);
      }
    }
  }
}
