.section-1 {
  position: relative;
  background: var(--white-bg);
  margin-top: 20px;
  padding: 2% 50px;
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translateX(-35%) translateY(6%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .fa-icon {
      height: 40px;
      width: 40px;
      border-radius: 50px;
      box-shadow: 2px 2px 4px 0px rgb(168, 168, 168);
      background: white;
      display: grid;
      place-items: center;
      margin: 5px auto;
      color: var(--blue-link);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--blue-link-hover);
        transition: 0.3s ease-in-out;
      }
    }
  }
  .link-hashtag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 4px 10px;
      margin: 0;
    }
    p:last-child {
      font-weight: 500;
      transition: 0.3s ease-in-out;
      &:last-child:hover {
        background: var(--blue-grey);
        border-radius: 50px;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .container-title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 1px;
    }
    .container-to-edit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        padding: 5px 10px;
        margin-right: 5px;
        transition: 0.3s ease-in-out;
        display: flex;
        .fa-pen-edit {
          color: var(--blue-link);
          font-size: 0.8rem;
          margin-top: 15px;
        }
        a {
          font-size: 1rem;
          font-weight: 600;
          margin: 5px;
          color: var(--blue-link);
          display: block;
          height: 100%;
          text-decoration: none;
        }
        &:hover {
          border-radius: 50px;
          background: var(--blue-grey);
          transition: 0.3s ease-in-out;
        }
      }

      .point-set {
        position: relative;
        margin: 5px;
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: -5px;
          height: 40%;
          width: 1px;
          transform: translateY(80%);
          background: rgb(36, 36, 36);
        }
        .fa-ellipsis-vertical {
          color: var(--blue-link);
          height: 40px;
          width: 40px;
          margin: 0 auto;
          display: grid;
          place-content: center;
          border-radius: 50px;
          &:hover {
            background: var(--blue-grey);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .container-link-infos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .item-info {
      border-radius: 10px 10px 0px 0px;
      border: 1px solid var(--grey-font);
      background: var(--yellow);
      padding: 10px;
      color: var(--red);
      font-size: 1rem;
      font-weight: 600;
      list-style: none;
      transition: 0.3s ease-in-out;
      &:hover {
        text-decoration: underline var(--yellow);
        background: var(--red);
        color: var(--yellow);
        transition: 0.3s ease-in-out;
      }
    }
  }
  .annonce {
    margin: 10px auto;
    padding: 5px;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid var(--blue-grey);
    border-left: 10px solid var(--blue-link);
    background: rgb(250, 242, 229);
    img {
      height: 100%;
    }
    .container-txt-annonce {
      padding: 0px 10px;
      h2 {
        font-size: 0.9rem;
        margin-bottom: 15px;
      }
      p {
        font-size: 0.8rem;
        margin: 0;
      }
    }
  }
}
